body{ 
    background: fixed;
    margin: auto; 
    max-width: 1200px;
    padding: 25px;
}
.Box1{
    background: black;
    padding: 20px;
}
.Box1_1{
    display: flex;
    background: blue;
    padding: 20px;
    margin-bottom: 15px;
}
.Box1_1_1{
    background: red;
    padding: 10px;
    flex-grow: 1;
}
.Box1_1_2{
    background: red;
    padding: 10px;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    flex-basis: 60%;
}
.Box1_1_3{
    background: red;
    padding: 10px;
    flex-grow: 1;
}
.Box1_2{
    background: orange;
    padding: 20px;
}
.Box1_2_1{
    background: yellow;
    padding: 10px;
}
.Box2{
    display: flex;
    background: black;
    padding: 20px;
    margin: 20px auto;
}
.Box2_1{
    background: skyblue;
    padding: 20px;
    flex-basis: 80%;
    margin-right: 20px;
    
}
.Box2_2{
    display: flex
}
.Box2_2_1{
    background: blue;
    padding: 10px;
    flex-basis: 50%;
}
.Box2_2_2{
    background: blue;
    padding: 10px;
    margin-left: 10px;
    flex-basis: 50%;
}
.Box2_3{
    display: flex;
    margin-top: 10px;
}
.Box2_3_1{
    background: blue;
    padding: 10px;
    flex-basis: 50%;

}
.Box2_3_2{
    background: blue;
    padding: 10px;
    margin-left: 10px;
    flex-basis: 50%;
    
}
.Box2_4_1{
    background: rgb(0, 136, 248);
    padding: 10px;
    margin-top: 10px;
}
.Box2_5{
    background: red;
    padding: 20px;
    flex-basis: 35%;
}
.Box2_5_1{
    background: rgb(243, 255, 78);
    padding: 10px;
}
.Box2_5_2{
    background: rgb(243, 255, 78);
    padding: 10px;
    margin-top: 10px;
}
.Box3{
    background: black;
    padding: 20px;
}
.Box3_1{
    background: orange;
    padding: 10px;
}
@media only screen and (max-width: 768px) {
    .Box2{
        background-color: yellow;
        flex-wrap: wrap;
        padding: 20px 10px 20px 20px;
    }
    .Box2_5{
        margin-top: 20px;
        flex-basis: 95%;
        margin-right: 10px;
    }
    .Box2_1{
        flex-basis: 100%;
        margin-right: 10px;
    }
}    
@media only screen and (max-width: 600px) {
    .Box2_1{
        
    }
    .Box2_3{
        flex-wrap: wrap;
    }
    .Box2_2{
        flex-wrap: wrap;
    }
    .Box2_2_1{
        flex-basis: 100%;
    }
    .Box2_2_2{
        margin: auto;
        margin-top: 10px;
        flex-basis: 100%;
    }
    .Box2_3_1{
        flex-basis: 95%;
        
    }
    .Box2_3_2{
        margin: auto;
        flex-basis: 100%;
        margin-top: 10px;
    }
    .Box2_4_1{
        background: seagreen;
        flex-basis: 100%;
    }
    .Box1_1{
        flex-wrap: wrap;
        display: block;
    }
    .Box1_1_1{
        flex-basis: 100%;
    }
    .Box1_1_2{
        margin: 10px 0px;
    }
}
